!config/zed/keymap.json
!config/zed/settings.json
config/gh/hosts.yml
config/k9s/aliases.yaml
config/k9s/config.yaml
config/k9s/config.yml
config/nvim/pack
config/nvim/plugin
config/zed
config/claude/
.netrwhist
