snippet setup_yarn "when yarn add"
Setup ${1} via `yarn add ${1}`
endsnippet

snippet introduce "add new system, library"
Introduce gemgem
endsnippet

snippet bugfix ""
Fix xxx

== Problem
== Resolve
== References

endsnippet
