snippet link "add link name->url"
[${0}](${1})
endsnippet

snippet table "empty table"
|  |  |  |
|--|--|--|
|  |  |  |
|  |  |  |
endsnippet

snippet footnote "footnote"
text[^1]

[^1]: footnote message
endsnippet

snippet github_note "NOTE, TIP, IMPORTANT, WARNING, CAUTION"
> [!NOTE]
> Messages..
endsnippet
