[settings]
# disable_tools = ["python"]
experimental = true  # with python virtualenv activation
idiomatic_version_file_enable_tools = ["ruby"]
auto_install = false

[env]

[tools]
usage = "latest"  # mise usage
watchexec = "latest"  # mise watch -t
neovim = "latest"
tree-sitter = "latest"
fzf = "latest"
ripgrep = "latest"
zoxide = "0.9.8"
delta = "latest"
fd = "latest"
bat = "latest"
dust = "latest"
jq = "latest"
yq = "latest"
xq = "latest"
just = "latest"
ruby = "latest"
sq = "latest"
sops = "latest"
ghq = "latest"
gh = "latest"
tmux-thumbs = "latest"

# gum = "latest"
# tv = { version = "latest", exe = "tv" }
# rust = "latest"
# fx = "latest" # json viewer
# "cargo:jwt-cli" = "latest"
# ubi = "latest"
# dasel = "latest"
# "ubi:DarthSim/overmind" = "latest"
# "ubi:DarthSim/hivemind" = "latest"
# "ubi:mr-karan/doggo" = "latest"
# "ubi:danielgatis/imgcat" = "latest"
# "ubi:dotenvx/dotenvx" = "latest"

# "cargo:similarity-ts" = "latest"

[tool_alias]
agent-browser = "npm:agent-browser"
claude = "npm:@anthropic-ai/claude-code"
claude_swarm = "gem:claude_swarm"
codex = "npm:@openai/codex"
copilot = "github:aws/copilot-cli"
gemini = "npm:@google/gemini-cli"
mole = "github:davrodpin/mole"
rainfrog = "github:achristmascarl/rainfrog"
rbw = "github:doy/rbw"
scc = "github:boyter/scc"
sq = "github:neilotoole/sq"
tv = "github:alexpasmantier/television"
usage = "https://github.com/jdx/mise-usage.git"
xq = "github:sibprogrammer/xq"
typos-lsp = "github:tekumara/typos-lsp"
dedoc = "toiletbril/dedoc"
tmux-thumbs = "github:fcsonline/tmux-thumbs"

[tasks."yarn:latest"]
description = "set yarn version to latest"
run = "yarn set version latest"

[tasks."setup:devops"]
description = "setup devops tools"
run = """
#!/usr/bin/env bash
mise use -C $HOME --yes \
    terraform \
    nova \
    kubectl \
    awscli \
    github-cli \
    krew \
    helm \
    k9s \
    cargo:kdash
"""

[tasks."setup:ruby"]
description = "setup ruby depdenencies"
run = """
#!/usr/bin/env bash
case ${OSTYPE}
in
    darwin*)
        brew install openssl readline zlib
        ;;
    *)
        sudo apt-get install -y libssl-dev libreadline-dev zlib1g-dev
        ;;
esac
"""

[tasks."docker"]
description = "start mise docker"
run = "docker run -it jdxcode/mise"
