[settings]
# disable_tools = ["python"]
experimental = true # with python virtaulenv activation
python_venv_auto_create = true
idiomatic_version_file_enable_tools = ["ruby"]

auto_install = false

[env]

[tools]
usage = "latest"
neovim = "latest"
fzf = "latest"
ripgrep = "latest"
delta = "latest"
zoxide = "latest"
fd = "latest"
bat = "latest"
dust = "latest"
jq = "latest"
yq = "latest"
xq = "latest"
fx = "latest"
just = "latest"
dasel = "latest"
gum = "latest"
watchexec = "latest" # mise watch -t

ruby = "latest"

ubi = "latest"
sq = "latest"
tv = { version = "latest", exe = "tv" }
sops = "latest"
# rust = "latest"
# "cargo:jwt-cli" = "latest"
# "ubi:DarthSim/overmind" = "latest"
# "ubi:DarthSim/hivemind" = "latest"
# "ubi:mr-karan/doggo" = "latest"
# "ubi:danielgatis/imgcat" = "latest"
# "ubi:dotenvx/dotenvx" = "latest"

# "cargo:similarity-ts" = "latest"

[alias]
usage = "https://github.com/jdx/mise-usage.git"
sq = 'ubi:neilotoole/sq'
xq = 'ubi:sibprogrammer/xq'
tv = 'ubi:alexpasmantier/television'
claude = "npm:@anthropic-ai/claude-code"
gemini = "npm:@google/gemini-cli"
codex = "npm:@openai/codex"
claude_swarm = "gem:claude_swarm"
roast = "gem:roast-ai"
copilot = "aqua:aws/copilot-cli"
rainfrog = "ubi:achristmascarl/rainfrog"
rbw = "ubi:doy/rbw"

[tasks."yarn:latest"]
description = "set yarn version to latest"
run = "yarn set version latest"

[tasks."uvx:specify"]
run = "uvx --from git+https://github.com/github/spec-kit.git specify"

[tasks."setup:devcontainer"]
description = "setup devcontainer"
run = """
mise use -C $HOME --yes npm:@devcontainers/cli
"""

[tasks."setup:devops"]
description = "setup devops tools"
run = """
#!/usr/bin/env bash
mise use -C $HOME --yes \
    terraform \
    nova \
    kubectl \
    awscli \
    github-cli \
    krew \
    helm \
    k9s \
    cargo:kdash
"""

[tasks."setup:ruby"]
description = "setup ruby depdenencies"
run = """
#!/usr/bin/env bash
case ${OSTYPE}
in
    darwin*)
        brew install openssl readline zlib
        ;;
    *)
        sudo apt-get install -y libssl-dev libreadline-dev zlib1g-dev
        ;;
esac
"""

[tasks."docker"]
description = "start mise docker"
run = "docker run -it jdxcode/mise"
